importFrom("utils", "capture.output")
importFrom("utils", "str")
export("deque")
export("front")
export("shift")
export("unshift")
export("back")
export("pop")
export("push")
S3method("front", "deque")
S3method("shift", "deque")
S3method("unshift", "deque")
S3method("back", "deque")
S3method("pop", "deque")
S3method("push", "deque")
S3method("[", "deque")
S3method("length", "deque")
S3method("as.list", "deque")
S3method("format", "deque")
S3method("print", "deque")
S3method("str", "deque")

